@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Subscription billing</h1>
    <p class="lead">This is a template that can be used as a startup point to build your SAAS subscription website using ASP.NET MVC 5.</p>
    <p>
        <iframe src="http://ghbtns.com/github-btn.html?user=pedropaf&repo=saas-ecom&type=watch&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="90" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=pedropaf&repo=saas-ecom&type=fork&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
        <iframe src="http://ghbtns.com/github-btn.html?user=pedropaf&repo=saas-ecom&type=follow&count=true"
                allowtransparency="true" frameborder="0" scrolling="0" width="175" height="20"></iframe>
    </p>
    <p>
        @Html.ActionLink(
            linkText: "Give our product a try - It's FREE for 30 days",
            actionName: "Register",
            controllerName: "Account",
            htmlAttributes: new { @class = "btn btn-primary btn-lg register-btn-wide" },
            routeValues: null)

        @Html.ActionLink(
            linkText: "Try our product FREE for 30 days",
            actionName: "Register",
            controllerName: "Account",
            htmlAttributes: new { @class = "btn btn-primary register-btn" },
            routeValues: null)
    </p>
</div>

<div class="row marketing">
    <h2 class="text-center">Features</h2>
    <hr />
    <div class="col-sm-6 marketing-feature">
        <h4><i class="fa fa-angle-double-right"></i> Integrated with Stripe</h4>
        <p>Use <strong>stripe</strong> as your gateway. This billing application is nicely integrated.</p>

        <h4><i class="fa fa-angle-double-right"></i> Invoicing</h4>
        <p>The invoices are created automatically, and Stripe will try to get them paid.</p>

        <h4><i class="fa fa-angle-double-right"></i> Only SSL needed</h4>
        <p>Your customers' credit card number don't hit your server (stripe.js). You only need SSL to deploy this app.</p>
    </div>

    <div class="col-sm-6">
        <h4><i class="fa fa-angle-double-right"></i> Trials supported</h4>
        <p>You have the option to let your customers to try your application first. Don't even ask them for a credit card to register.</p>

        <h4><i class="fa fa-angle-double-right"></i> Customers dashboard</h4>
        <p>Dashboard area for your customers, where they can manage their subscription / password / credit card.</p>

        <h4><i class="fa fa-angle-double-right"></i> Open Source</h4>
        <p>No lock-ins. Code freely available in Github.</p>
    </div>
</div>

<div class="row">
    <h2 class="text-center">Pricing</h2>
    <hr>
    <div class="col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3>Starter</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$14<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">5 Projects</li>
                <li class="list-group-item">5 GB of Storage</li>
                <li class="list-group-item">Up to 100 Users</li>
                <li class="list-group-item">10 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a href="@Url.Action("Register", "Account")" class="btn btn-default">Start trial!</a></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-danger text-center">
            <div class="panel-heading">
                <h3>Premium</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Unlimited</li>
                <li class="list-group-item">50 GB of Storage</li>
                <li class="list-group-item">Up to 1000 Users</li>
                <li class="list-group-item">100 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a href="@Url.Action("Register", "Account")" class="btn btn-danger ">Start trial!</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3>Ultimate</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title price">$74<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Unlimited</li>
                <li class="list-group-item">150 GB of Storage</li>
                <li class="list-group-item">Unlimited</li>
                <li class="list-group-item">500 GB Bandwidth</li>
                <li class="list-group-item">Security Suite</li>
                <li class="list-group-item"><a href="@Url.Action("Register", "Account")" class="btn btn-default">Start trial!</a></li>
            </ul>
        </div>
    </div>
</div>

