@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <!-- Header -->
        <div class="container header">
            <ul class="nav nav-pills pull-right">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <li class="active">@Html.ActionLink("Billing", "Index", "Home", new { area = "billing" }, null)</li>
                    }
                    else
                    {
                        <li class="active">@Html.ActionLink("Dashboard", "Index", "Home", new { area = "dashboard" }, null)</li>
                    }
                }
                else
                {
                    <li class="active">@Html.ActionLink("Login", "Login", "Account")</li>
                }
            </ul>
            <h1 class="text-muted">@Html.ActionLink("Saas Ecom", "Index", "Home")</h1>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SAAS Ecom</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
