@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAAS Ecom</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        
        <!-- Fork me on github -->
        <a class="github-ribbon" href="https://github.com/pedropaf/saas-ecom">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
        </a>

        <!-- Header -->
        <div class="container header">
            <ul class="nav nav-pills pull-right">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <li class="active">@Html.ActionLink("Billing", "Index", "Home", new { area = "billing" }, null)</li>
                    }
                    else
                    {
                        <li class="active">@Html.ActionLink("Dashboard", "Index", "Home", new { area = "dashboard" }, null)</li>
                    }
                }
                else
                {
                    <li class="active">@Html.ActionLink("Login", "Login", "Account")</li>
                }
            </ul>
            <h1 class="text-muted">@Html.ActionLink("Saas Ecom", "Index", "Home")</h1>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - <a href="https://github.com/pedropaf/saas-ecom">Powered by SAAS Ecom</a></p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
