@using System.Drawing.Imaging
@using SaasEcom.Data.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Manage account";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @ViewBag.StatusMessage
    </div>
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
