@model SaasEcom.Web.Areas.Dashboard.ViewModels.SubscribeViewModel

@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-credit-card"></i> Subscribe to @Model.PlanFriendlyId</h3>
<hr />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Subscribe", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "card-form" }))
        {
            @Html.HiddenFor(m => m.PlanFriendlyId)
            @Html.EditorFor(m => m.CreditCard, "~/Areas/Dashboard/Views/Card/_form.cshtml")
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dashboard/stripe-card")
}
