@model SaasEcom.Web.Areas.Dashboard.ViewModels.IndexViewModel
@{
    ViewBag.Title = "My account";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">

        <h3>Personal Details</h3>
        <hr />

        <div class="clearfix">
            @if (Model.User.HasUserDetails())
            {
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>@Model.User.FirstName</dd>
                    <dt>Last name</dt>
                    <dd>@Model.User.LastName</dd>
                    <dt>Address</dt>
                    <dd>@Model.User.Address</dd>
                    <dt>City</dt>
                    <dd>@Model.User.City</dd>
                    <dt>Password</dt>
                    <dd>
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Pick a password", "SetPassword")
                        }
                    </dd>
                </dl>
            }
            else
            {
                <a class="btn btn-primary" href="#">Fill in your Personal Details</a>

                @(Model.HasPassword ?
                        Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default" }) :
                        Html.ActionLink("Pick a password", "SetPassword", null, new { @class = "btn btn-default" }))
            }
        </div>

        <h3>Payment Details</h3>
        <hr />

        <div class="clearfix">
            @if (Model.User.HasPaymentDetails())
            {
                <ul>
                    @foreach (var card in Model.User.CreditCards)
                    {
                        <li>**** @card.Last4 (@card.ExpirationMonth / @card.ExpirationYear)</li>
                    }
                </ul>
            }
            else
            {
                <a class="btn btn-primary" href="@Url.Action("Create", "Card")">Add your Payment Details</a>
            }
        </div>
    </div>
</div>
