@model SaasEcom.Data.Models.SubscriptionPlan

@{
    ViewBag.Title = "New Subscription Plan";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-11 col-lg-9">
        <h1 class="title"><i class="fa fa-angle-right"></i> New Subscription Plan</h1>
        @using (Html.BeginForm("Create", "SubscriptionPlans", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.FriendlyId, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.FriendlyId, new { @class = "form-control", placeholder = "Subscription plan identifier (eg: starter-plan)" })
                    @Html.ValidationMessageFor(model => model.FriendlyId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Subscription plan Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control", placeholder = "Plan Price" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Interval, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(model => model.Interval, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Interval)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrialPeriodInDays, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.TrialPeriodInDays, new { @class = "form-control", placeholder = "Trial period (min: 0 days)" })
                    @Html.ValidationMessageFor(model => model.TrialPeriodInDays)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Currency, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.Currency, (IEnumerable<SelectListItem>)ViewBag.Currencies, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Currency)
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Save Subscription Plan" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript">
        $('#Currency').chosen({ width: "100%" });
    </script>
}
