@model IEnumerable<SaasEcom.Data.Models.SubscriptionPlan>

@{
    ViewBag.Title = "Subscription Plans";
    Layout = "~/Areas/Billing/Views/Shared/_BillingLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h1 class="title"><i class="fa fa-table"></i> Subscription plans</h1>

        @if (Model != null && Model.Any())
        {
            <!-- Plans -->
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 subscription-panel">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">@item.Name &nbsp;<small>@item.CurrencySymbol@string.Format("{0:F2}", item.Price) / @item.Interval</small></h2>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled plan-details">
                                    <li><strong>Id:</strong> @item.FriendlyId</li>
                                    <li><strong>Trial:</strong> @item.TrialPeriodInDays</li>
                                    <li><strong>Bank statement</strong> @item.StatementDescription</li>
                                </ul>

                                <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br/>
            <div class="row clearfix">
                <div class="col-md-12"><a href="@Url.Action("Create")" class="btn btn-primary">Create new Subscription plan</a></div>
            </div>
        }
        else
        {
            <p>You still don't have any subscription plan.</p>
            <p>
                <a href="@Url.Action("Create")" class="btn btn-primary btn-lg">Start creating a subscription plan!</a>
            </p>
        }
    </div>
</div>
