@model IEnumerable<SaasEcom.Data.Models.SubscriptionPlan>

@helper PlanWidth(int numPlans)
{
    if (numPlans <= 2)
    {
        @("6")
    }
    else if (numPlans == 3)
    {
        @("4")
    }
    else
    {
        @("3")
    }
}

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h3 class="title"><i class="fa fa-table"></i> Subscription plans</h3>
        @{ var numPlans = Model.Count(); }
        
        <!-- Plans -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-@PlanWidth(numPlans) subscription-panel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title">@item.Name &nbsp;<small>@item.CurrencyDetails.CurrencySymbol@string.Format("{0:F2}", item.Price) / @item.Interval</small></h2>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled plan-details">
                                <li><strong>Id:</strong> @item.FriendlyId</li>
                                <li><strong>Trial:</strong> @item.TrialPeriodInDays days</li>
                            </ul>
                            
                            <!--
                            <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Disable</a>-->
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
