@model SaasEcom.Web.Areas.Dashboard.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-refresh"></i> Plans & Billing</h3>
<div class="row">

    <!-- Subscriptions -->
    @if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
    {
        foreach (var subscription in Model.Subscriptions)
        {
            { Html.RenderPartial("_SubscriptionDetails", subscription); }
        }
    }
    else
    {
        <div class="container">
            <div class="no-subscription-active jumbotron">
                <h2>Re-activate your subscription</h2>
                <p>Your subscription is not active. You're welcome to join to any of our plans.</p>
            </div>

            <div id="plans">
                <h2 class="text-center">Plans</h2>
                <hr>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Ultimate</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">$199<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Unlimited</li>
                            <li class="list-group-item">150 GB of Storage</li>
                            <li class="list-group-item">Unlimited</li>
                            <li class="list-group-item">500 GB Bandwidth</li>
                            <li class="list-group-item">Security Suite</li>
                            <li class="list-group-item"><a href="@Url.Action("Register", "Account")" class="btn btn-default">Join!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-danger text-center">
                        <div class="panel-heading">
                            <h3>Premium</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">$69<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Unlimited</li>
                            <li class="list-group-item">50 GB of Storage</li>
                            <li class="list-group-item">Up to 1000 Users</li>
                            <li class="list-group-item">100 GB Bandwidth</li>
                            <li class="list-group-item">Security Suite</li>
                            <li class="list-group-item"><a href="@Url.Action("Register", "Account")" class="btn btn-danger ">Join!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Starter</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">5 Projects</li>
                            <li class="list-group-item">5 GB of Storage</li>
                            <li class="list-group-item">Up to 100 Users</li>
                            <li class="list-group-item">10 GB Bandwidth</li>
                            <li class="list-group-item">Security Suite</li>
                            <li class="list-group-item"><a href="@Url.Action("Register", "Account")" class="btn btn-default">Join!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Invoices -->
@if (Model.Invoices != null && Model.Invoices.Count > 0)
{
    <h3><i class="fa fa-file-o"></i> Invoices</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <td><strong>Invoice #</strong></td>
                <td><strong>Period</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>Subtotal</strong></td>
                <td><strong>Total</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>@invoice.Id</td>
                    <td>@invoice.InvoicePeriod</td>
                    <td>@invoice.Date.Value.ToString("d MMM yyyy")</td>
                    <td>@invoice.CurrencyDetails.CurrencySymbol@string.Format("{0:F2}", invoice.Subtotal)</td>
                    <td>@invoice.CurrencyDetails.CurrencySymbol@string.Format("{0:F2}", invoice.Total)</td>
                    <td>
                        <a href="@Url.Action("Detail", "Invoice", new { id = @invoice.Id })">
                            <i class="fa fa-file-text-o"></i> Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
