@model SaasEcom.Web.Areas.Dashboard.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<!-- TODO: Display when needed -->
<div class="alert alert-info">
    <i class="fa fa-arrow-circle-right"></i> Please <a href="@Url.Action("Index", "Manage")">complete your profile</a> information.
</div>

<h3><i class="fa fa-refresh"></i> Plans & Billing</h3>
<div class="row">
    <!-- Subscriptions -->
    @if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
    {
        foreach (var subscription in Model.Subscriptions)
        {
            {Html.RenderPartial("_SubscriptionDetails", subscription);}
        }
    }
</div>

<!-- Subscriptions -->
@if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
{
    <h3>Subscriptions</h3>

    <div class="panel-group" id="subscriptions">
        @foreach (var subscription in Model.Subscriptions)
        {
            <div class="panel panel-default subscription-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-down plan-icon"></span>
                        <span class="plan-name">&nbsp;@subscription.SubscriptionPlan.Name &nbsp;</span>
                        <span class="plan-price">£@subscription.SubscriptionPlan.Price / @subscription.SubscriptionPlan.Interval</span>
                        <span class="plan-status">@subscription.Status()</span>
                    </h4>
                </div>
                <div id="sub-@subscription.Id">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>@subscription.Start</dd>
                        </dl>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="lead">You don't have any active subscription.</p>

    {
        Html.RenderAction("AvailablePlans", "Home", new { area = "Dashboard" });
    }
}



<!-- Invoices -->
@if (Model.Invoices != null && Model.Invoices.Count > 0)
{
    <h3>Invoices</h3>

    <div class="panel-group" id="invoices">
        @foreach (var invoice in Model.Invoices)
        {
            <div class="panel panel-default invoice-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-down plan-icon"></span>
                        <span class="plan-price">£@invoice.Total</span>
                    </h4>
                </div>
                <div id="invoice-@invoice.Id">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Date</dt>
                            <dd>@invoice.Date</dd>
                        </dl>
                    </div>
                </div>
            </div>
        }
    </div>
}
