@model SaasEcom.Web.Areas.Dashboard.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<h3><i class="fa fa-refresh"></i> Plans & Billing</h3>
<div class="row">
    <!-- Subscriptions -->
    @if (Model.Subscriptions != null && Model.Subscriptions.Count > 0)
    {
        foreach (var subscription in Model.Subscriptions)
        {
            { Html.RenderPartial("_SubscriptionDetails", subscription); }
        }
    }
    else
    {
        <p class="lead">You don't have any active subscription.</p>
    }
</div>

<!-- Invoices -->
@if (Model.Invoices != null && Model.Invoices.Count > 0)
{
    <h3><i class="fa fa-file-o"></i> Invoices</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <td><strong>Invoice #</strong></td>
                <td><strong>Period</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>Subtotal</strong></td>
                <td><strong>Total</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>@invoice.Id</td>
                    <td>@invoice.InvoicePeriod</td>
                    <td>@invoice.Date.Value.ToString("d MMM yyyy")</td>
                    <td>@invoice.CurrencyDetails.CurrencySymbol@string.Format("{0:F2}", invoice.Subtotal)</td>
                    <td>@invoice.CurrencyDetails.CurrencySymbol@string.Format("{0:F2}", invoice.Total)</td>
                    <td>
                        <a href="@Url.Action("Detail", "Invoice", new { id = @invoice.Id })">
                            <i class="fa fa-file-text-o"></i> Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
